.menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--menubar-height, 1.4rem);
  display: flex;
  align-items: center;
  color: var(--app-color-light-contrast);
  fill: var(--app-color-light-contrast);
  z-index: 9950;
  user-select: none;
  -webkit-user-select: none;
}

.menubar::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--menubar-height, 1.4rem);
  background-color: hsla(var(--app-color-light-hsl), 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: -1;
}

.leftSection {
  display: flex;
  align-items: center;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.rightSection {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.menuWrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.menuButton {
  font-weight: 500;
  font-size: 0.8rem;
  font-family: var(--app-font-family);
  letter-spacing: 0.3px;
  height: 100%;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  color: var(--app-color-light-contrast);
  fill: var(--app-color-light-contrast);
  position: relative;
  z-index: 1;
  text-shadow: 0 0 1px hsla(0, 0%, 0%, 0.1);
}

.menuButton:hover,
.menuButton.active {
  background-color: hsla(var(--app-color-grey-100-hsl), 0.3);
}

.appleButton {
  padding: 0 0.7rem;
  margin: 0 0 0 0.25rem;
}

.appNameButton {
  font-weight: 600;
  margin: 0 4px;
}

.menuDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1.5px;
  z-index: 9960;
}
