.container {
  background-color: hsla(0, 0%, 27%, 0.7);
  backdrop-filter: blur(40px);
  border-radius: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow: hidden;
}

.showArea {
  min-height: 4rem;
  font-size: 3rem;
  font-weight: 200;
  color: white;
  text-align: end;
  overflow: hidden;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  word-break: break-all;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 1px;
}

.buttonsContainer > button {
  font-size: 1.618rem;
  font-weight: 300;
  color: white;
  border: none;
  cursor: pointer;
  transition: filter 80ms ease;
  min-height: 44px;
}

.buttonsContainer > button:active {
  filter: brightness(1.2);
}

.topRowButton {
  background-color: hsla(0, 0%, 35%, 0.6);
}

.topRowButton:active {
  background-color: hsla(0, 0%, 54%, 0.6);
}

.numberButton {
  background-color: hsla(0, 0%, 54%, 0.6);
}

.numberButton:active {
  background-color: hsla(0, 0%, 90%, 0.6);
}

.operationButton {
  background-color: hsla(32, 87%, 56%, 1);
}

.operationButton:active {
  background-color: hsla(32, 68%, 47%, 1);
}

.colSpan2 {
  grid-column: span 2;
  text-align: start;
  padding-left: 1.25rem;
}

.radiusBL {
  border-bottom-left-radius: 0.7rem;
}

.radiusBR {
  border-bottom-right-radius: 0.7rem;
}
